
# ==========================================
# TUTORGEST - CONFIGURACION GITIGNORE
# ==========================================

# Maven
target/

# IntelliJ IDEA
.idea/
.run/
*.iml
*.iws
*.ipr

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
build/
dist/

# Visual Studio Code
.vscode/

# Kotlin
.kotlin/

# Archivos temporales
*.log
*.tmp
.DS_Store

# Credenciales y configuraciones privadas
.env
.env.*
*.local.properties
